body{
    height: 100vh;
    background-color: black !important;
    font-family: 'Titillium Web', sans-serif !important;
}

.card{
    background-color: #173055 !important;
    color:#3b5680;
}

.navbar-nav {
    flex-direction: column;
}

.navbar-collapse {
    width: 100%;
}

.navbar-nav .nav-item {
    width: 100%;
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    padding: .5rem 0;
}
